on boot
    # Quickset IR
    chown system system /sys/remote/enable
    chmod 0666 /sys/remote/enable

service ir-hal-1-0 /vendor/bin/hw/android.hardware.ir@1.0-service.leeco_8996
    class hal
    user system
    group system
